/* 定义 Regular 字体 */
@font-face {
    font-family: 'LXGW WenKai TC';
    src: url('https://cdn.jsdelivr.net/gh/urkbio/my-fonts@latest/fonts/LXGWWenKaiTC-Medium.woff2') format('woff2');
    font-display: swap;
}
