/* 定义 Regular 字体 */
@font-face {
    font-family: 'LXGW WenKai TC';
    src: url('https://raw.githubusercontent.com/urkbio/my-fonts/main/fonts/LXGWWenKaiTC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 定义 Bold 字体 */
@font-face {
    font-family: 'LXGW WenKai TC';
    src: url('https://raw.githubusercontent.com/urkbio/my-fonts/main/fonts/LXGWWenKaiTC-Medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
